<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets async="true">
    <target 
      name ="debugger" 
      xsi:type="Debugger"
          layout="[${logger}]: ${message} ${exception:format=tostring}"
      />
    <target
      name="console"
      xsi:type="Console"
      layout="[${logger}]: ${message} ${exception:format=tostring}"
      encoding="Unicode"
	    />
    <target
      name="file"
      xsi:type="File"
      layout="[${logger}]: ${message} ${exception:format=tostring}"
      fileName="${basedir}/Logs/Current.${longdate:cached=true}.log"
      archiveFileName="${basedir}/Logs/Archive{#####}.log"
      archiveAboveSize="10000000"
      archiveNumbering="Rolling"
      archiveEvery="Hour"
      maxArchiveFiles="3"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="Unicode"
	    />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>